<br /><br /><br /><br />
<div align="justify" style="font-size: 22px; font-family: Segoe Script;">
<fieldset class="fieldset"><b><br /><div style=" margin-left: 50px; margin-right: 50px;">

<center><u>La langue</u></center><br />
Les langues parlées au Maroc sont principalement l'arabe dialectal et le Tamazight. Aussi, la plupart des marocains parlent le français, et beaucoup parlent aussi l'espagnol et/ou l'anglais.<br /><br /><br />

<center><u>La cuisine</u></center><br />
Au Maroc, vous trouverez beaucoup de plats présentant une panoplie de légumes soupoudrés de différentes épices raffinées qui accompagnerons bien votre viande ou votre poisson. À ne pas manquer : le couscous (traditionnel plat du vendredi matin), le méchoui (agneau rôtie à la broche) et le thé à la menthe (une spécialité qui accompagne bien une multitude de repas!). 

<br /><br />De plus, le restaurant «<a href="https://www.google.ca/maps/place/Salon+Bleu/@35.7880842,-5.818253,15.04z/data=!4m5!3m4!1s0xd0c7f4d024b313d:0x529291b44665e359!8m2!3d35.78863!4d-5.8118159"><u>Salon Bleu</u></a>» offre du thé à la menthe et de délicieux couscous. Vous pourrez aussi profiter d'une terrasse avec des sofas et d'une vue incroyable sur la ville.<br /><br />
<center><img src="/assets/cult1.png" height="525" width="750" alt="Il y a eu un problème lors du chargement de l'image..."><br />Vue de la terrasse du «Salon Bleu»</center><br />
<center><img src="/assets/cult2.png" height="550" width="425" alt="Il y a eu un problème lors du chargement de l'image..."><br />Couscous, thé à la menthe et petits pains du «Salon Bleu»</center><br /><br />

<center><u>La religion</u></center><br />
L'Islam est la religion officielle du Maroc, mais cela n'empêche pas la pratique de plusieurs autres religions. Il y a, durant la journée, 5 appels à la prières, à différentes heures de la journée. Il faut aussi savoir que durant le mois du Ramadan, les marocains jeûnent du lever au coucher du soleil.<br /><br />
<center><p style="font-family: Segoe Script; font-size: 17px;"><b>Écoutez un extrait de l'appel à la prière : </b></p>
<%= audio_tag "appel.mp3", controls: true %></center><br /><br />

<center><u>Les coutumes locales</u></center><br />
<ul>
<li>La mosquée est interdite d'accès aux non-musulmans;</li>
<li>Si vous voulez bien paraître, acceptez le thé à la menthe. Il s'agit d'un geste d'hospitalité. Par contre, faites attention : si le thé vous est offert par un marchand dans la rue, il vous demandera probablement de l'argent;</li>
<li>Essayez autant que possible de ne pas boire, manger ou fumer en public durant le mois du Ramadan (en 2018, du 16 mai au 15 juin);</li>
<li>Pour finir, quelques coutumes à respecter lors d'un repas familial : se laver les mains à l'aiguière,
commencer à manger seulement lorque le «bismillah» (louange à Dieu) a été prononcé,
manger avec la main droite et goûter à tout!</li>
</ul>
<br />
<center><img src="/assets/cult3.png" height="500" width="350" alt="Il y a eu un problème lors du chargement de l'image..."><br />Une aiguière pour le lavage des mains</center><br />
<br /></div>
</b>
<center><p style="font-family: Segoe Script; font-size: 17px;"><b>Mettez vous dans l'ambiance du Maroc avec un peu de musique : </b></p>
<%= audio_tag "musique.mp3", controls: true %></center>
</fieldset>
</div><br /><br />