<br /><br /><br /><br />
<div align="justify" style="font-size: 22px; font-family: Segoe Script;">
<fieldset class="fieldset"><b><br /><div style=" margin-left: 50px; margin-right: 50px;">
<center><img src="/assets/fd2.png" height="550" width="800" alt="Il y a eu un problème lors du chargement de l'image..."></center><br />
<ul>
<li>Les habitants de Tanger sont des tangerois(e);</li>
<li>La ville de Tanger compte plus de 974 000 habitants;</li>
<li>La ville est souvent soumise à de violents phénomènes métérologiques, tel des vents forts et des pluies intenses;</li>
<li>Là-bas, durant l'été, la température monte parfois au-dessus de 40°C;</li>
<li>Il ne fait jamais très froid à Tanger (le record de froid est de -4,2°C);</li>
<li>Certaines séquences de films célèbres, tel «Inception», ont été tournées à Tanger;</li>
<li>Il n'y a pas vraiment de réseaux hydrographiques dans la région de la ville;</li>
<li>Sur le plan économique, Tanger est la deuxième ville la plus importante du Maroc;</li>
<li>Il y a là-bas une plage longue de 7 km;</li>
<li>À l'origine, la ville fut établie sur la colline de kasbah;</li>
<li>Ne soyez pas surpris si tout le monde tente de devenir votre guide; les marocains reconnaissent très facilement les touristes;</li>
<li>À Tanger, il est possible de négocier le prix de presque tout, parfois même celui des repas dans les restaurants;</li>
<li>Dans les magasins, il n'y a quasiment jamais de prix sur les objets;</li>
<li>Si vous vous intéressez à un objet dans une boutique, le prix que vous donnera le vendeur sera assez élevé, puisqu'il s'attend à ce que vous négociez. N'achetez donc jamais sans avoir négocié (ou au moins essayé de négocier) le prix;</li>
<li>Faites attention à ne pas mélanger Tanger et Tanger Med. Beaucoup de bateaux partent de l'Espagne vers Tanger Med, mais cet endroit est situé à 45 minutes de Tanger en voiture;</li>
<li>Vous ne regretterez jamais une visite à Tanger!</li>
</ul>
<br />
<center><img src="/assets/fd1.png" height="600" width="475" alt="Il y a eu un problème lors du chargement de l'image..."></center><br />
</div>
</b>
<center><p style="font-family: Segoe Script; font-size: 17px;"><b>Mettez vous dans l'ambiance du Maroc avec un peu de musique : </b></p>
<%= audio_tag "musique.mp3", controls: true %></center>
</fieldset>
</div><br /><br />