<!-- VERSION ORDINATEUR -->
<div class="desktop hidden-xs hidden-sm">
<br /><br /><br /><br />
<div align="justify" style="font-size: 22px; font-family: Segoe Script;">
<fieldset class="fieldset"><b><br /><div style=" margin-left: 50px; margin-right: 50px;">
<center><img src="/assets/hist1.png" height="400" width="600" alt="Il y a eu un problème lors du chargement de l'image..."></center><br />
Au IVe siècle avant Jésus-Christ, après une occupation du territoire par les Phéniciens, la ville fut officielement fondée par les Carthaginois. Tanger était une ville fortement chrétienne jusqu'à ce que Moussa Ibn Noçaïr, un général arabe musulman, s'empare de la ville en l'an 706. La ville devint alors musulmane. 5 ans plus tard, Tariq ibn Ziyad, un grand stratège militaire, se lance à la conquête de l'Espagne à partir de Tanger. Pendant les cinq siècles qui suivent, plusieurs dynasties se battent pour la souveraineté de la ville. Après trois tentatives, les portugais s'emparent finalement de Tanger en 1471, mais donnent la ville à l'Angleterre en 1661. Plus tard, en 1684, la ville est abandonnée à Moulay Ismaïl, qui en avait commencé le siège 6 ans plus tôt. Au XVIIIe siècle, Tanger devient la «capitale diplomatique» de l'Empire chérifien. En 1821, les États-Unis y ouvrent leur plus ancien consulat permanent dans le monde. Le 6 août 1844, le prince de Joinville bombarde la ville.
<br /><br />
<center><img src="/assets/hist2.png" height="350" width="650" alt="Il y a eu un problème lors du chargement de l'image..."></center><br />
Après avoir débarqué à Tanger le 31 mars 1905, Guillaume II dénonce les visées françaises et espagnoles sur le Maroc, ce qui provoque la Crise de Tanger. Le 18 décembre 1923, suite à la Convention de Paris, Tanger devient une zone internationale sous souverainté du Sultan du Maroc. La ville est désormais économiquement autonome. En juin 1940, les troupes espagnoles prennent la ville aux français. Ce n'est que le 9 octobre 1945 que l'Espagne retire ses troupes de Tanger. C'est à ce moment que la ville retrouve pour de bon son statut international.<br /><br /></div>
</b>
<center><p style="font-family: Segoe Script; font-size: 17px;"><b>Mettez-vous dans l'ambiance du Maroc avec un peu de musique : </b></p>
<%= audio_tag "musique.mp3", controls: true %></center>
</fieldset>
</div><br /><br />
</div>

<!-- VERSION MOBILE -->
<div class="mobile visible-xs visible-sm">
<br /><br /><br /><br />
<div align="justify" style="font-size: 22px; font-family: Segoe Script;">
<fieldset class="fieldsetM"><b><br /><div style=" margin-left: 50px; margin-right: 50px;">
<center><img src="/assets/hist1.png" height="400" width="600" alt="Il y a eu un problème lors du chargement de l'image..."></center><br />
Au IVe siècle avant Jésus-Christ, après une occupation du territoire par les Phéniciens, la ville fut officielement fondée par les Carthaginois. Tanger était une ville fortement chrétienne jusqu'à ce que Moussa Ibn Noçaïr, un général arabe musulman, s'empare de la ville en l'an 706. La ville devint alors musulmane. 5 ans plus tard, Tariq ibn Ziyad, un grand stratège militaire, se lance à la conquête de l'Espagne à partir de Tanger. Pendant les cinq siècles qui suivent, plusieurs dynasties se battent pour la souveraineté de la ville. Après trois tentatives, les portugais s'emparent finalement de Tanger en 1471, mais donnent la ville à l'Angleterre en 1661. Plus tard, en 1684, la ville est abandonnée à Moulay Ismaïl, qui en avait commencé le siège 6 ans plus tôt. Au XVIIIe siècle, Tanger devient la «capitale diplomatique» de l'Empire chérifien. En 1821, les États-Unis y ouvrent leur plus ancien consulat permanent dans le monde. Le 6 août 1844, le prince de Joinville bombarde la ville.
<br /><br />
<center><img src="/assets/hist2.png" height="350" width="650" alt="Il y a eu un problème lors du chargement de l'image..."></center><br />
Après avoir débarqué à Tanger le 31 mars 1905, Guillaume II dénonce les visées françaises et espagnoles sur le Maroc, ce qui provoque la Crise de Tanger. Le 18 décembre 1923, suite à la Convention de Paris, Tanger devient une zone internationale sous souverainté du Sultan du Maroc. La ville est désormais économiquement autonome. En juin 1940, les troupes espagnoles prennent la ville aux français. Ce n'est que le 9 octobre 1945 que l'Espagne retire ses troupes de Tanger. C'est à ce moment que la ville retrouve pour de bon son statut international.<br /><br /></div>
</b>
<center><p style="font-family: Segoe Script; font-size: 17px;"><b>Mettez-vous dans l'ambiance du Maroc avec un peu de musique : </b></p>
<%= audio_tag "musique.mp3", controls: true %></center>
</fieldset>
</div><br /><br />
</div>