<center>
<br /><br /><br /><br />
<fieldset class="fieldset"><div style=" margin-left: 50px; margin-right: 50px;"><br />
<h3 style="font-family: Segoe Script;"><b>Connaissez-vous Tanger? C'est une merveilleuse ville portuaire marocaine avec<br /> une médina, de délicieux restaurants, des points de vue magnifiques et beaucoup<br /> d'autres choses... Mais c'est surtout une ville qui vaut la peine d'être visitée!</b></h3>
<br />
<div class="mobile visible-xs visible-sm"><img src="/assets/home2.png" height="275" width="400" alt="Il y a eu un problème lors du chargement de l'image..."></div>
<div class="desktop hidden-xs hidden-sm"><img src="/assets/home2.png" height="615" width="1000" alt="Il y a eu un problème lors du chargement de l'image..."></div>
<br /><br />
<p style="font-family: Segoe Script; font-size: 17px;"><b>Mettez vous dans l'ambiance du Maroc avec un peu de musique : </b></p><div class="mobile visible-xs visible-sm"><br /></div>
<%= audio_tag "musique.mp3", controls: true %>
</div>
</fieldset>
</center><br /><br />