<br /><br /><br /><br />
<div align="justify" style="font-size: 22px; font-family: Segoe Script;">
<fieldset class="fieldset"><b><br /><div style=" margin-left: 50px; margin-right: 50px;">
<center><img src="/assets/loc1.png" height="600" width="800" alt="Il y a eu un problème lors du chargement de l'image..."></center><br />
L'importante ville côtière de <a href="https://www.google.ca/maps/place/Tanger,+Maroc/@35.9932199,-5.9279794,9.75z/data=!4m5!3m4!1s0xd0b875cf04c132d:0x76bfc571bfb4e17a!8m2!3d35.7594651!4d-5.8339543"><u>Tanger</u></a> se situe en Afrique, dans le nord-ouest du Maroc. Le Maroc est un pays du nord de l'Afrique qui partage ses frontières avec le Sahara Occidental et l'Algérie. Au nord de la ville, le Maroc est séparé de l'Espagne par le détroit de Gibraltar. Beaucoup de bateaux offrent la traversée de l'Espagne jusqu'à Tanger (et vice-versa) à des prix très variables, mais souvent assez élevés... Cette traversée dure plus ou moins 1h20, dépendamment du point de départ (où d'arrivé). Un peu à l'ouest de la ville, à moins de 20 minutes en voiture, se trouve le majestueux océan Atlantique. Par contre, à l'est, la route pour atteindre la mer d'Alboran est un peu plus longue (plus ou moins 1h20). Il y a à Tanger deux grandes plages desquelles il est possible de voir, si il n'y a pas trop de brouillard, la côte de l'Espagne.
<br /><br />
<center><img src="/assets/loc2.png" height="400" width="700" alt="Il y a eu un problème lors du chargement de l'image..."></center><br />
</div>
</b>
<center><p style="font-family: Segoe Script; font-size: 17px;"><b>Mettez-vous dans l'ambiance du Maroc avec un peu de musique : </b></p>
<%= audio_tag "musique.mp3", controls: true %></center>
</fieldset>
</div><br /><br />