<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><span style="color:red; font-family: Segoe Script; font-size: 40px;"><b>Tanger - طنجة</b></span></a>
      <img src="/assets/icon.png" height="50px" width="75px" class="navbar-icon">
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li style="font-family: Segoe Script; color: Black; font-size: 20px;"><a href="/histoire"><b>Histoire</b></a></li>
      <li style="font-family: Segoe Script; color: Black; font-size: 20px;"><a href="/faits_divers"><b>Faits divers</b></a></li>
      <li style="font-family: Segoe Script; color: Black; font-size: 20px;"><a href="/culture"><b>Culture</b></a></li>
      <li style="font-family: Segoe Script; color: Black; font-size: 20px;"><a href="/localisation"><b>Localisation</b></a></li>
    </ul>
  </div>
</nav>