<!DOCTYPE html>
<html>
  <head>
  	<link rel="icon" type="image/ico" href="/assets/favicon.ico" />
    <title>Tanger - طنجة</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #ffffd9;">
  	<script type="text/javascript">
		if (screen.width <= 700) {
		  document.location = "/layouts/navdrop";
		} else {
		  document.location = "/layouts/navnormal";
		}
	</script>
    <%= yield %>
  </body>
</html>
